name: Documentation
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs/public
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v5
      - run: uv sync --locked --all-extras
      - run: uv run zensical build --clean 
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
